* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'PT Sans', sans-serif;
    scroll-behavior: smooth;
}

.icon::before,
.icon::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

img,
svg {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.hidden {
    display: none;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 19px;
    line-height: 32px;
}

:root {
    /* Colors */
    --blue-color: #0084FD;
    --azure-color: #B5DDFF;
    --lilac-color: #9792E4;
    --ocher-color: #FDC15F;
    --anthracite-color: #333333;

    /* Shadow */
    --shadow: 13px 24px 64px -25px rgba(0, 0, 0, 0.75);
}

.content {
    padding-inline: 12.5%;
}

header nav ul li a {
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: var(--blue-color);
    box-shadow: var(--shadow);
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li {
    line-height: 60px;
}

header nav ul li:hover {
    cursor: pointer;
    border-bottom: 1px solid white;
}

header nav ul li:last-child:hover {
    border-bottom: none;
}

.button {
    /* letter-spacing: 2px; */
    padding: 5px 15px;
    border-radius: 30px;
    width: fit-content;
}

.white {
    color: black;
    background-color: white;
}

.blue {
    color: white;
    background-color: var(--blue-color);
}

.purple {
    color: white;
    background-color: var(--lilac-color);
}

header article {
    margin-top: 60px;
    padding-top: 40px;
    margin-bottom: 80px;
}

header article .cta-grid .first-row,
header article .cta-grid .second-row {
    display: flex;
    gap: 20px;
}

header article .cta-grid .second-row {
    margin-top: 20px;
}

.cta-grid .cta-box {
    flex-basis: calc(100% / 3);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    text-align: center;
    background-color: var(--azure-color);
    border-radius: 15px;
}

header article .cta-grid .cta-box h3 {
    color: var(--blue-color);
}

header article .cta-grid .cta-box#first-cta-box {
    flex-basis: calc(((100% / 3) * 2) + 20px);
    aspect-ratio: 2/1;
    flex-direction: row;
    justify-content: left;
    text-align: left;
    gap: 0;
    padding: 0px;
}

header article .cta-grid .cta-box#first-cta-box div {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 35px;
}

header article .cta-grid .cta-box#first-cta-box div a {
    padding-inline: 30px;
}

header article .cta-grid .cta-box i {
    color: var(--blue-color);
    font-size: 80px;
}

.icon.apple::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f179";
    font-weight: 900;
    margin-right: 10px;
}

header article .cta-grid .cta-box#first-cta-box figure {
    flex-basis: 40%;
    display: flex;
    align-items: flex-end;
}

header article .cta-grid .cta-box#first-cta-box figure img {
    width: 90%;
}

main section:nth-child(odd) {
    background-color: var(--lilac-color);
}

main #planning {
    padding-inline: 20%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: flex-end;
    padding-block: 100px 50px;
}

main #planning div:first-child {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

main #planning div:first-child figure img {
    width: 90%;
    margin-inline: auto;
    margin-bottom: 40px;
}

main #planning div:nth-child(2) {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

main #planning div:nth-child(2) figure img {
    width: 70%;
    margin: 0 auto;
}

main #planning div:nth-child(2) i {
    width: fit-content;
    aspect-ratio: 1;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--lilac-color);
}

main #testimonials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    padding-block: 80px 100px;
}

main #testimonials h2 {
    color: var(--lilac-color);
}

main #testimonials .testimonals-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main #testimonials .testimonals-grid .testimonal-box {
    display: flex;
    gap: 50px;
    background-color: var(--lilac-color);
    padding: 20px 35px 40px 15px;
    border-radius: 30px;
}

main .pfp {
    width: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main #testimonials .testimonals-grid .testimonal-box #testimonal-01 {
    background-image: url(../img/testimonial1.jpg);
}

main #testimonials .testimonals-grid .testimonal-box #testimonal-02 {
    background-image: url(../img/testimonial2.jpg);
}

main #testimonials .testimonals-grid .testimonal-box #testimonal-03 {
    background-image: url(../img/testimonial3.jpg);
}

main #testimonials .testimonals-grid .testimonal-box div {
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.icon.quotation-marks::before {
    font-family: "Font Awesome 5 Free";
    content: "\f10d";
    font-weight: 900;
}

.icon.quotation-marks::after {
    font-family: "Font Awesome 5 Free";
    content: "\f10e";
    font-weight: 900;
}

main #features {
    padding-block: 80px;
}

main #features>h2 {
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

main .cta-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main .cta-grid .cta-box {
    flex-basis: calc((100% / 3) - (40px / 3));
    justify-content: flex-start;
    gap: 15px;
    background-color: white;
    text-align: left;
}

main .cta-grid .cta-box h2,
main .cta-grid .cta-box h3 {
    color: var(--lilac-color);
}

main .cta-grid .cta-box a {
    padding: 5px 35px;
}

main #about-us {
    padding-inline: 16%;
    padding-block: 80px;
    display: flex;
    gap: 10%;
}

main #about-us div:first-child {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main #about-us div:first-child h2 {
    color: var(--lilac-color);
}

main #about-us div:nth-child(2) {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main #about-us div:nth-child(2) #about-us-model {
    width: 100%;
    background-image: url(../img/about.jpg);
    position: relative;
}

main #about-us div:nth-child(2) #about-us-model i {
    position: absolute;
    top: -10px;
    right: -10px;
    color: var(--lilac-color);
    font-size: 350%;
}

main #about-us div:nth-child(2) h3 {
    color: var(--lilac-color);
}

.icon.linkedin::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f08c";
    font-weight: 900;
    margin-right: 10px;
}

main #get-started {
    color: white;
    text-align: center;
    padding-inline: 25%;
    padding-block: 80px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

main #get-started span:first-child {
    opacity: 0.5;
}

main #get-started h1 {
    color: var(--ocher-color);
}

main #get-started>a {
    color: var(--lilac-color);
    padding: 15px 50px;
}

main #get-started span:last-child a {
    color: white;
    text-decoration: underline;
}

footer {
    color: white;
    background-color: var(--anthracite-color);
    text-align: center;
    padding-block: 40px;
    gap: 50px;
}

footer span:first-child {
    display: block;
    margin-bottom: 50px;
}

footer a {
    color: var(--lilac-color);
    text-decoration: underline;
}



@media screen and (max-width: 930px) {

    .content {
        padding-inline: 4%;
    }

    /* Header */
    header {
        position: relative;
    }

    header nav {
        height: 60px;
    }

    header nav ul {
        display: none;
    }

    #hamburger-menu {
        display: inline-block;
        color: white;
    }

    #hamburger-menu:hover+ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: -180px;
        right: 0px;
        background-color: var(--blue-color);
        border-radius: 15px;
        padding: 15px;
        box-shadow: var(--shadow);
    }

    #hamburger-menu:hover+ul li {
        line-height: 18px;
    }

    header article .cta-grid .cta-box#first-cta-box {
        flex-direction: column;
    }

    header article .cta-grid .cta-box#first-cta-box figure img {
        width: 60%;
    }

    header article .cta-grid .first-row .cta-box:nth-child(2) {
        justify-content: flex-start;
    }

    /* Main */
    main #planning {
        padding-inline: 4%;
        display: flex;
        flex-direction: column;
    }

    main #testimonials .testimonals-grid .testimonal-box figure {
        width: 50%;
    }

    main .cta-grid .cta-box {
        flex-basis: calc((100% / 2) - (40px / 2));
    }

    main #about-us {
        padding-inline: 4%;
    }

    main #about-us div:first-child {
        flex-basis: 70%;
    }

    main #about-us div:nth-child(2) {
        flex-basis: 30%;
    }

    main #get-started {
        padding-inline: 4%;
    }
}

@media screen and (max-width: 600px) {

    .content {
        padding-inline: 10%;
    }

    #hamburger-menu {
        display: inline-block;
        color: white;
    }

    header article .cta-grid .first-row,
    header article .cta-grid .second-row {
        flex-direction: column;
        gap: 20px;
    }

    .cta-grid .cta-box {
        flex-basis: 100%;
    }

    header article .cta-grid .cta-box#first-cta-box {
        flex-basis: 100%;
        flex-direction: column;
    }

    header article .cta-grid .cta-box#first-cta-box figure img {
        margin: auto;
    }

    header article .cta-grid .first-row .cta-box:nth-child(2) {
        justify-content: center;
    }

    /* Main */
    main #planning {
        padding-inline: 10%;
    }

    main #testimonials .testimonals-grid .testimonal-box {
        flex-direction: column;
        align-items: center;
        gap: 25px;
        padding: 20px;
    }

    main #testimonials .testimonals-grid .testimonal-box div {
        text-align: center;
    }

    main #testimonials .testimonals-grid .testimonal-box figure {
        width: 50%;
    }

    main .cta-grid {
        flex-direction: column;
        gap: 20px;
    }

    main #about-us {
        padding-inline: 10%;
        flex-direction: column;
        gap: 50px;
    }

    main #about-us div:nth-child(2) #about-us-model {
        width: 40%;
    }

    main #get-started {
        padding-inline: 10%;
    }
}